Django<6
psycopg2
django-environ
git+https://github.com/DataTig/DataTig.git@97c63bfef6fe5bf5f86ff7408ce240ec8169a631#egg=datatig
requests
requests-oauthlib
celery
icalendar
redis
markdown-it-py
lru-dict
sentry-sdk[django]
prometheus-client
