Django<6
psycopg2
django-environ
git+https://github.com/DataTig/DataTig.git@433571a78fa2956cb685a95b0960ac7c6f72ff90#egg=datatig
requests
requests-oauthlib
celery
icalendar
redis
markdown-it-py
lru-dict
sentry-sdk[django]
prometheus-client
