{% extends 'datatighub/git/repository/base.html' %}

{% block head_title %}
    {{ calendar.get_id }} Calendar - {% include "datatighub/git/repository/head_title.html" with repository=repository branch=branch %}
{% endblock %}

{% block header_title %}
    {% include "datatighub/git/repository/header_title.html" with repository=repository branch=branch %}
{% endblock %}

{% block breadcrumbs %}
    <span class="breadcrumb"><a href="{% url 'datatighubgit_repository:tree_index' repository_slug=repository.slug tree_name=branch.branch_name %}">Overview</a></span>
    <span class="seperator">&gt;</span>
    <span class="breadcrumb">Calendar {{ calendar.get_id }}</span>
{% endblock %}

{% block fullcontent %}

    <div id='calendar_element'></div>

    <div class="content">
        <div class="links">
            <a href="{% url 'datatighubgit_repository:tree_calendar_api1'  repository_slug=repository.slug  tree_name=branch.branch_name calendar_id=calendar.get_id %}" class="button">
                <i class="fa-solid fa-robot"></i> API
            </a>
            <a href="{% url 'datatighubgit_repository:tree_calendar_ical'  repository_slug=repository.slug  tree_name=branch.branch_name calendar_id=calendar.get_id %}" class="button">
                <i class="fa-solid fa-download"></i> ICal
            </a>
        </div>
    </div>

{% endblock %}

{% block javascript %}

   <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar_element');
            var calendar = new FullCalendar.Calendar(calendarEl, {
              eventSources: [
                {
                  url: "{% url 'datatighubgit_repository:tree_calendar_fullcalendar_data'  repository_slug=repository.slug  tree_name=branch.branch_name calendar_id=calendar.get_id %}",
                }
              ]
            });
            calendar.render();
        });
    </script>

{% endblock %}