{% load static %}
<div class="h1-section">
    <a href="{% url 'datatighubgit_repository:index' repository_slug=repository.slug %}">
        <img src="{% static 'repository.png' %}" alt="Repository">
        {{ repository.get_title }}
    </a>
</div>
{% if branch %}
    <div class="h1-section">
        <a href="{% url 'datatighubgit_repository:tree_index' repository_slug=repository.slug tree_name=branch.branch_name %}">
            <img src="{% static 'branch.png' %}" alt="Branch">
            {{ branch.branch_name }}
        </a>
    </div>
{% endif %}
