html, body {
    padding: 0;
    margin: 0;
}

:root {
  --main-background-color: #a7d9e8;
  --highlight-color: #74a6b5;
  --highlight-font: arial, sans-serif;
}


header {
    background: var(--main-background-color);
    padding: 10px 0;
    h1 {
        font-family: var(--highlight-font);
        margin: 0;
        a {
            text-decoration: none;
            color: black;
        }
        a:hover, a:focus {
            text-decoration: underline;
            color: black;
        }
        .h1-section {
            display: inline-block;
        }
        @media (max-width: 800px) {
            .h1-section {
                display:block;
            }
        }
        img {
            width: 40px;
            height: 40px;
        }
    }

}

nav#menu {
    font-family: var(--highlight-font);
    background: var(--main-background-color);
    text-align: right;
    padding: 10px 0;
    a {
        text-decoration: none;
        color: black;
    }
    a:hover, a:focus {
        text-decoration: underline;
        color: black;
    }
}

nav#breadcrumbs {
    font-family: var(--highlight-font);
    padding: 10px 0;
    margin: 0 0 10px 0;
    border-bottom: 5px solid var(--highlight-color);
    a {
        text-decoration: none;
        color: black;
    }
    a:hover, a:focus {
        text-decoration: underline;
        color: blue;
    }
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}

footer {
    font-family: var(--highlight-font);
    margin: 50px 0;
    font-size: 80%;
    text-align: center;
}

h2, h3, h4 {
    font-family: var(--highlight-font);
}

table.data {
    tr {
        th {
            font-family: var(--highlight-font);
            border-bottom: 1px solid var(--highlight-color);
            padding: 5px;
            margin: 0;
        }
        td {
            border-bottom: 1px solid var(--main-background-color);
            padding: 5px;
            margin: 0;
        }
    }
}

.paging {
    margin: 10px 0;
    text-align: center;
}

table.summary {
    tr {
        th {
            font-family: var(--highlight-font);
            border-bottom: 1px solid var(--main-background-color);
            border-right: 1px solid var(--highlight-color);
            padding: 5px;
            margin: 0;
            vertical-align: top;
        }
        td {
            border-bottom: 1px solid var(--main-background-color);
            padding: 5px;
            margin: 0;
        }
    }
}

a.button, input.button {
    display: inline-block;
    background: var(--main-background-color);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    border: 0;
    font-family: var(--highlight-font);
}
a.button:hover, a.button:focus, input.button:hover, input.button:focus {
    text-decoration: underline;
    color: black;
    background: var(--highlight-color);
}

ul.repositories, ul.branches {
    li {
        padding: 20px 0;
        list-style-type: none;
        margin: 0;
        a.title {
            display: block;
            text-decoration: none;
            color: black;
            font-weight: bold;
            font-size: 120%;
            margin-bottom: 5px;
            font-family: var(--highlight-font);
        }
        a.title:hover, a.title:focus {
            text-decoration: underline;
            color: blue;
        }
        .title img {
            width: 40px;
            height: 40px;
        }
        .description {
            margin: 10px 0;
        }
        .links {
            text-align: right;
        }
    }
}

.popout-box {
    margin: 10px 50px;
    border: 5px solid var(--highlight-color);
    border-radius: 3px;
    padding: 10px;
    .links {
        text-align: right;
    }
}


.links {
    text-align: right;
    padding: 10px 0;
    a {
        display: inline-block;
        margin: 5px;
    }
}

.filters {
    margin: 10px 50px;
    border: 1px solid var(--highlight-color);
    border-radius: 3px;
    padding: 10px;
    .filter-group {
        margin: 10px 0;
        .filter-group-title {
            font-weight: bold;
            font-family: var(--highlight-font);
        }
    }
}

textarea#editor_body_textarea, textarea#raw_data_out {
    width: 100%;
}
textarea#editor_body_textarea {
    height: 300px;
}
textarea#raw_data_out {
    height: 100px;
}
#editor_body_label {
    font-weight: bold;
}

.field_description {
    font-size: 80%;
}