{% if field.get_type == "list-dictionaries" %}
    {% load datatighub %}
    {% record_get_field_value record field.get_id as field_value %}
    <h4>Field {{ field.get_title }}</h4>
    {% if field_value.get_sub_records %}
        <table class="data">
            <tr>
                {% for sub_field_id, sub_field in field.get_fields.items %}
                    <th>{{ sub_field.get_title }}</th>
                {% endfor %}
            </tr>
            {% for sub_record in field_value.get_sub_records %}
                <tr>
                    {% for sub_field_id, sub_field in field.get_fields.items %}
                        {% sub_record_get_value sub_record sub_field_id as sub_field_value %}
                        <td>
                            {% if sub_field.get_type == 'url' %}
                                <a href="{{ sub_field.get_value }}">{{ sub_field_value.get_value }}</a>
                            {% elif sub_field.get_type == 'boolean' %}
                                {% if sub_field_value.is_value_true %}
                                    True
                                {% elif sub_field_value.is_value_false %}
                                    False
                                {% endif %}
                            {% else %}
                                {{ sub_field_value.get_value }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No data.</p>
    {% endif %}
{% endif %}
