
<div class="popout-box">
    <h2>What is DataTig?</h2>
    <p>
        DataTig is a set of tools to help when a community of people want to crowd source a data set and they use a git repository to store the data.
    </p>
    <p>
        In these cases, DataTig can be used on the git repository to help people contribute new data or edit existing data, check data quality and transform the data into more useful forms for everyone to re-use.
    </p>
    <p>
        {{setting_datatig_hub_name}} hosts a number of repositories for everyone to browse. You can also use the tools directly as an open source Python library.
    </p>
    <div class="links">
        <a href="https://www.datatig.com/" class="button"><i class="fa-solid fa-circle-info"></i> More information</a>
        <a href="https://pypi.org/project/DataTig/" class="button"><i class="fa-brands fa-python"></i> PyPi</a>
        <a href="https://datatig.readthedocs.io/en/latest/" class="button"><i class="fa-solid fa-book"></i> Docs</a>
    </div>
</div>
