[Unit]
Description=DataTig Hub Worker Important

[Service]
ExecStart=/home/datatighub/run_worker_important.sh
User=datatighub
Group=datatighub

[Install]
WantedBy=multi-user.target
